body{
  background-color: gray;
}

.opacity{
  opacity: .7;
  font-weight: bolder;
  color: black;
}


img{
  opacity: 100%;
}

.style{
  margin-top: 50px;
  padding-top: 50px;
  
}

.container{
  margin-top: 50px;
}


.font{
  font-size: large;
  color: black;
}

.height {
  max-height: 500px;
}

#fontStyle{
  line-height: 40px;
}

.round {
  border-radius: 25px;
  padding: 20px;
  border-style: groove;
}
